**/.DS_Store
**/__pycache__/
*.py[cod]
*.tar.gz
*.exe
*.asc
bin/
release_tmp/
urnet-tools
urnet-docker
cli/miner/miner
cli/validator/validator
cli/snclaim/snclaim
evm/lib
sim-testnet/runs/
sim-testnet/build/
/build/
